html, body {
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#board {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    position: relative;
}

.row div {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row img {
    position: absolute;
    pointer-events: none;
}

.row:first-child .square:before {
    position: absolute;
    right: 7px;
    top: 0;
}

.row:first-child .square-a1:before {
    content: 'a';
}

.row:first-child .square-b1:before {
    content: 'b';
}

.row:first-child .square-c1:before {
    content: 'c';
}

.row:first-child .square-d1:before {
    content: 'd';
}

.row:first-child .square-e1:before {
    content: 'e';
}

.row:first-child .square-f1:before {
    content: 'f';
}

.row:first-child .square-g1:before {
    content: 'g';
}

.row:first-child .square-h1:before {
    content: 'h';
}

.row:first-child .square-a1:before {
    content: 'a';
}

.row .square:first-child:after {
    position: absolute;
    left: 7px;
    bottom: 0;
}

.row .square-a1:first-child:after {
    content: '1';
}

.row .square-a2:first-child:after {
    content: '2';
}

.row .square-a3:first-child:after {
    content: '3';
}

.row .square-a4:first-child:after {
    content: '4';
}

.row .square-a5:first-child:after {
    content: '5';
}

.row .square-a6:first-child:after {
    content: '6';
}

.row .square-a7:first-child:after {
    content: '7';
}

.row .square-a8:first-child:after {
    content: '8';
}
